@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #186aa4;
}
.container{
    width: 90%;
    margin: auto;
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* .left-content,.right-content{
    flex-basis: 50%;
} */

.card{
    margin: 10px;
    width: 300px;
    background-color:#494e50;
    margin-right: 0%;
    color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    border: solid rgb(155, 7, 7);
}
.content{
    padding: 5px;
    margin:5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: solid black;
    width:60%
}
.content2{
    padding: 5px;
    margin:5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    border: solid black;
    height: 50%;
    width: 40%;
    
}
.abilities{
    width: 50%;
    height: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.abilities .group{
    background-color: #b74555;
    color: white;
    padding: 0.5rem;
    font-size: 12px;
    border-radius: 8px;
    margin-left: 1rem;
}
.base-stat{
    margin-top: 2rem;
}
.btn-group{
    display: flex;
}
.btn-group button{
    outline: none;
    border: none;
    width: 150px;
    padding: 0.3rem 0;
    margin: 1rem;
    font-size: 17px;
    font-weight: bold;
    color: white;
    background-color: #b74555;
    border-radius: 8px;
    
}